@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

.flex{
  display: flex;
}
.f1{
  flex: 1;
}
.mainBox {
  padding: 0 190px;
  min-height: 400px;
  //height: 400px;
  .mainContent{
    margin: 20px;
    padding: 10px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
  }
  .mainList{
    padding: 20px;
  }
  .el-collapse-item__header,
  .el-collapse-item__wrap,
  .el-collapse{
    border: 0;
  }
}

.zcForm{
  .el-date-editor.el-input,.el-form-item__content{
    width: 195px;
  }
  .formLong .el-form-item__content{
    width: 450px;
  }
}

.box-card{
  margin: 10px;
  .box-title{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
  }
}

